<div class="card illustration flex-fill">
    <div class="card-body p-0 d-flex flex-fill">
        <div class="row no-gutters w-100">
            <div class="col-12">
                <div class="illustration-text p-3 m-1">
                    <h4 class="illustration-text">Welcome back, {{ user.firstName }}!</h4>
                </div>
            </div>
            <div class="col-12 align-self-end text-right">
                <img src="{{ asset("build/images/illustrations/" ~ illustration ~ "") }}" alt="Hello"
                     class="img-fluid illustration-img float-end">
            </div>
        </div>
    </div>
</div>