.illustration {
  background: $illustration-bg;
  color: $illustration-color;
}

.illustration-text {
  color: $illustration-color;
}

.illustration-img {
  max-width: $illustration-width;
  width: 100%;

  @include media-breakpoint-up(xxl) {
    max-width: $illustration-width-lg;
  }
}
